$white:#fff;
$black: #000;

$primary: #C93C48;
$primary-light: #FC2673;
$primary-lighten: #E85555;
$primary-dark: #B12236;

$secondary: #615EF8;
$secondary-lighten: #559BD9;
$secondary-light: #C5D5E2;

$light: #FFFAFF;
$text-color: #40434E;
$label-color: #6B6B6B;

$error: #E35151;

