<div class="overlay">
     <div class="popup-window">
          <div class="popup-wrapper">
               <button class="btn btn-close">
                    <img src="../../assets/images/close-icon.svg" alt="">
               </button>

               <div class="side-info">
                    <div class="life-progressbar">
                         <div class="progressbar">
                              <div class="progressbar__position">
                                   <div class="progressbar-tooltip">
                                        <img class="progressbar-tooltip__icon" src="../../assets/images/coin-icon.png" alt="">
                                        <span class="progressbar-tooltip__text">0/4</span>
                                   </div>
                              </div>
                         </div>

                         <div class="life-info">4 монеты = 4 жизни</div>
                    </div>


                    <div class="steps">
                         <div class="steps-item active">
                              <div class="steps-item-info">
                                   <div class="steps-item__number">Шаг 1/4</div>
                                   <div class="steps-item__name">Персональные данные</div>
                              </div>

                              <div class="data-price">
                                   <span class="data-price__amount">+1</span>
                                   <img class="data-price__icon" src="../../assets/images/coin-icon.png" alt="">
                              </div>
                         </div>

                         <div class="steps-item">
                              <div class="steps-item-info">
                                   <div class="steps-item__number">Шаг 2/4</div>
                                   <div class="steps-item__name">Контактные данные</div>
                              </div>

                              <div class="data-price">
                                   <span class="data-price__amount">+1</span>
                                   <img class="data-price__icon" src="../../assets/images/coin-icon.png" alt="">
                              </div>
                         </div>

                         <div class="steps-item">
                              <div class="steps-item-info">
                                   <div class="steps-item__number">Шаг 3/4</div>
                                   <div class="steps-item__name">Подтверждение email</div>
                              </div>

                              <div class="data-price">
                                   <span class="data-price__amount">+1</span>
                                   <img class="data-price__icon" src="../../assets/images/coin-icon.png" alt="">
                              </div>
                         </div>

                         <div class="steps-item">
                              <div class="steps-item-info">
                                   <div class="steps-item__number">Шаг 4/4</div>
                                   <div class="steps-item__name">Подтверждение телефона</div>
                              </div>

                              <div class="data-price">
                                   <span class="data-price__amount">+1</span>
                                   <img class="data-price__icon" src="../../assets/images/coin-icon.png" alt="">
                              </div>
                         </div>
                    </div>
               </div>


               <v-get-life-form></v-get-life-form>
          </div>


     </div>




</div>
